<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.apps8os.trafficsense.second"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
    
    <!-- Permissions required by ContextLogger3 -->
    <!-- Launching -->
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <!-- All probes -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- Storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- Config downloading/Data uploading -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- WifiProbe -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- Location&CellProbe -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>	
	<uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="TrafficSense"
        android:theme="@style/AppTheme" >
        <meta-data
    		android:name="com.google.android.maps.v2.API_KEY"
    		android:value="AIzaSyCrSLF3qnGHmYAe69JesxqW8qnV19SGix4"/>
        <meta-data
    		android:name="com.google.android.gms.version"
    		android:value="@integer/google_play_services_version" />
        <activity
            android:name="org.apps8os.trafficsense.second.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="org.apps8os.trafficsense.second.SchematicView"></activity>
        
        <!-- Location-based Journey Tracker -->
        <service android:name="org.apps8os.trafficsense.android.LocationOnlyService" />
        
        <!-- ContextLogger3 related services -->
        <service android:name="edu.mit.media.funf.FunfManager" >
            <meta-data
                android:name="default"
                android:value="@string/default_pipeline" />
        </service>
        <!-- diff FirstPrototype: Removed Funf auto-start intent filter -->

        
    </application>

</manifest>
