<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.apps8os.trafficsense.first"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- Permissions required by ContextLogger3 -->
    <!-- Launching -->
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <!-- All probes -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- Storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- Config downloading/Data uploading -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- WifiProbe -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- CellProbe -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.apps8os.trafficsense.first.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- ContextLogger3 related services -->
        <!-- framework core -->
        <service android:name="org.apps8os.contextlogger.android.io.MainPipeline"/>
        <service android:name="edu.mit.media.funf.storage.HttpUploadService"/>
        <service android:name="edu.mit.media.funf.storage.NameValueDatabaseService"/>
        <!-- Probes -->
        <service android:name="edu.mit.media.funf.probe.builtin.CellProbe" />
        <service android:name="edu.mit.media.funf.probe.builtin.WifiProbe" />
        <!-- Please ignore the warning saying use '$' instead of '.', it breaks stuff. -->
        <service android:name="org.apps8os.contextlogger.android.CustomProbe.ApplicationProbe" />
        
    </application>

</manifest>
